*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/************* Header Main Footer *************/
header{
    background-color: #2C3E50;
}

/************* /Header Main Footer *************/




/************* Contenuto Header *************/
.navica{
    color: #FFFFFF;
    font-weight: 600;
}

/************* /Contenuto Header *************/




/************* Contenuto Main *************/


/****** Sezione Start Bootstrap ******/
.verde{
    background-color: #1ABC9C;
}

.white{
    color: #FFFFFF;
}

.boot{
    width: 25%;
    margin: auto;
}

.cont_star, .cont_star2{
    position: relative;
    font-size: 40px;
    margin-bottom: 30px;
}

.cont_star::before, .cont_star2::before{
    content: "";
    width: 200px;
    height: 1px;
    display: block;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-70%);
    
}

.cont_star::before{
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}

.cont_star2::before{
    border: 1px solid #000000;
    background-color: #000000;
}

.cont_star::after, .cont_star2::after{
    content: "";
    width: 200px;
    height: 1px;
    display: block;
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translateY(-70%);
    
}

.cont_star::after{
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}

.cont_star2::after{
    border: 1px solid #000000;
    background-color: #000000;
}
/****** /Sezione Start Bootstrap ******/


/****** Sezione Portfolio ******/
h1{
    margin: 30px auto;
    width: 100%;
    text-align: center;
}


img{
    width: 100%;
    border-radius: 15px;
}
/****** /Sezione Portfolio ******/


/****** Sezione About ******/
.cont{
    width: 80%;
    margin: auto;
    max-width: 1200px;
}
.text{
    font-size: 20px;
}
/****** /Sezione About ******/


/****** Sezione Contatta ******/
.back_verde{
    background-color: #1ABC9C;
    border: none;
}

.pb_10{
    padding-bottom: 10rem;
}
/****** /Sezione Contatta ******/
/************* /Contenuto Main *************/





/************* Contenuto Footer *************/
.blu_chiaro{
    background-color: #3A546D;
    margin: auto;
    padding: 30px 0;
}

h4{
    text-align: center;
}

.blu_scuro{
    background-color:#2C3E50;
    margin: auto;
}

.copyright{
    color: #FFFFFF;
    text-align: center;
    margin-top: 1rem;
}

.colore_verde{
    color: #1ABC9C;
}
/************* /Contenuto Footer *************/







/******** Query ********/
@media screen and (max-width: 1200px) {
    .cont_star::before, .cont_star2::before{
    left: 25%;
    transform: translateY(-75%);
    }

    .cont_star::after, .cont_star2::after{
    right: 25%;
    transform: translateY(-75%);
    }
}


@media screen and (max-width: 992px) {
    .cont_star::before, .cont_star2::before{
        left: 20%;
        transform: translateY(-80%);
    }

    .cont_star::after, .cont_star2::after{
    right: 20%;
    transform: translateY(-80%);
    }
}

@media screen and (max-width: 768px) {
    .cont_star::before, .cont_star2::before{
        width: 150px;
        left: 15%;
        transform: translateY(-85%);
    }

    .cont_star::after, .cont_star2::after{
    width: 150px;
    right: 15%;
    transform: translateY(-85%);
    }
}

@media screen and (max-width: 576px) {
    .cont_star::before, .cont_star2::before{
        width: 100px;
        left: 20%;
        transform: translateY(-80%);
    }

    .cont_star::after, .cont_star2::after{
        width: 100px;
    right: 20%;
    transform: translateY(-80%);
    }
}
/******** Query ********/