*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/************* Header Main Footer *************/
header{
    background-color: #2C3E50;
}

/************* /Header Main Footer *************/




/************* Contenuto Header *************/
.navica{
    color: #FFFFFF;
    font-weight: 600;
}

/************* /Contenuto Header *************/




/************* Contenuto Main *************/


/****** Sezione Start Bootstrap ******/
.verde{
    background-color: #1ABC9C;
}

.white{
    color: #FFFFFF;
}

.boot{
    width: 25%;
    margin: auto;
}
/****** /Sezione Start Bootstrap ******/


/****** Sezione Portfolio ******/
h1{
    margin: 30px auto;
    width: 100%;
    text-align: center;
}


img{
    width: 100%;
    border-radius: 15px;
}
/****** /Sezione Portfolio ******/


/****** Sezione About ******/
.cont{
    width: 80%;
    margin: auto;
    max-width: 1200px;
}
.text{
    font-size: 20px;
}
/****** /Sezione About ******/


/****** Sezione Contatta ******/
.back_verde{
    background-color: #1ABC9C;
    border: none;
}

.pb_10{
    padding-bottom: 10rem;
}
/****** /Sezione Contatta ******/
/************* /Contenuto Main *************/





/************* Contenuto Footer *************/
.blu_chiaro{
    background-color: #3A546D;
    margin: auto;
    padding: 30px 0;
}

h4{
    text-align: center;
}

.blu_scuro{
    background-color:#2C3E50;
    margin: auto;
}

.copyright{
    color: #FFFFFF;
    text-align: center;
    margin-top: 1rem;
}

.colore_verde{
    color: #1ABC9C;
}
/************* /Contenuto Footer *************/